.footer_container{
    margin-top: 5rem;
    width: 100vw;
    height: 60vh;
    background-color: black;
    color: white;
}

.footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer_header{
    font-family: Lexend Deca;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer_text{
    margin-block: 1rem;
    cursor: pointer;
}

.footer_end{
    font-family: Lexend Deca;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 3rem;
    font-size: 0.7rem;
}